<!DOCTYPE html>
<html>
<head>
    <title>AI Writing Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="slider">

    <div class="overlay">

        <h1>AI Writing Assistant</h1>

        <p>Improve • Correct • Summarize • Enhance</p>

        <a href="/editor">
            <button class="start-btn">
                Let's Begin
            </button>
        </a>

    </div>

</div>

</body>
</html>